extends layout.pug

block content
    section#content
    h2 This is where Hello will go!
        input(
            type='form'
            name='test'
        )
        input(
            type='submit'
        )


